

.register p {
}
.register p label {
    width: 150px;
}

.register p input[type=text]
, .register p input[type=email]
, .register p input[type=password] {
    width: 250px;
}


.photo-list a {
    text-decoration: none;
}
.photo-list a:hover {
    text-decoration: underline;
}