{% extends 'base.html' %}


{% block title %}
    -  업로드 수정
{% endblock %}


{% block head_script %}

    <script>
        $(document).ready(function() {
            
            $('#photoForm').on('submit', function() {

                if (!confirm('내용을 업로드 하시겠습니까?')) {
                    return false;
                }
                

            });

        });
    </script>

{% endblock %}


{% block contents %}

    {% if user.get_username == object.author.get_username %}

        <div class="row g-3">

            <form id="photoForm" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">업로드</button>
            </form>

        </div>

    {% else %}

        <div class="alert alert-danger" role="alert">
            본인이 업로드한 포토에 대해서만 수정하실 수 있습니다.
        </div>

    {% endif %}

    

{% endblock %}